@import "../../scss/base.scss";

.ratings {
  display: flex;
  gap: 5rem;
  li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0.8rem;
    color: $white;
    font-weight: 800;
    .light & {
      color: $gray11;
    }
    + li {
      &::after {
        @include position(a, left, -2.5rem, top, 50%);
        content: "";
        border-right: 1px solid rgba($white, 0.1);
        height: 130%;
        .light & {
          border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
    strong {
      color: $white;
      opacity: 0.6;
      font-weight: 800;
      .light & {
        color: $gray11;
      }
    }
  }
}
