// 웹폰트
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

// REM
html {
  font-size: 62.5%;
  font-family: $f-ko;
  -webkit-text-size-adjust: none;
}
body {
  font-size: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

// Heading

// Text
.txt {
  &-type1 {
    font-size: 1.2rem;
    opacity: 0.6;
    color: $white;
    .search & {
      padding: 3rem 0 0;
    }
    .light & {
      color: $gray11;
    }
  }
  &-type2 {
    font-size: 1.4rem;
    color: $white;
    line-height: 1.6;
    font-weight: 300;
    .search & {
      padding: 3rem 0 0;
    }
  }
}

// Text Color
.txt-black {
  color: $gray11;
}

.sub-title {
  text-align: center;
  strong {
    display: block;
    color: $white;
    opacity: 0.6;
    font-size: 2rem;
    padding: 0 0 1rem 0;
    font-weight: 700;
  }
  span {
    display: block;
    position: relative;
    z-index: 10;
    -webkit-text-stroke: 2px #ffffff;
    text-stroke: 2px hsl(0, 0%, 100%);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;

    font-size: 10rem;
    font-weight: 800;
    text-transform: uppercase;
  }
}
