// 색상정의
$purple: #7f54b3;
$green: #7ad03a;
$red: #a00;
$reddb: #db6a6a;
$rede7: #e73131;
$yellow: #ffba00;
$yellowe7: #e7af31;
$blue: #2ea2cc;
$green1b: #1bae56;
$greenb3: #b3af54;
$white: #fff;
$gray11: #111111;
$gray51: #515151;
$gray76: #767676;
$graya7: #a7b1c4;
$graydf: #dfe1e9;
$graye9: #e9e6ed;
$grayf7: #f7f8f9;
$black: #000;
$black01: rgba(17, 17, 17, 0.1);
$black015: rgba(17, 17, 17, 0.15);

// 이미지경로
$url: "/src/assets/";

// 반응형 기준사이즈
$mobileWidth: 768px;
$tabletWidth: 1600px;

// 웹전용 가운데정렬 가로크기
$webCenterWidth: 160rem;
