.header {
  // @include position(a, left, 0, top, 0);

  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2.4rem 10rem;
  box-sizing: border-box;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  h1 {
    font-size: 2.8rem;
    color: $white;
    font-weight: 900;
    padding: 0 5rem 0 3rem;
    white-space: nowrap;
  }
  .btn-menu {
    order: -1;
  }
  .utillity {
    display: flex;
    gap: 0.5rem;
    .btn-search {
      margin: 0 4rem 0 0;
    }
  }
}
