@import "../../scss/base.scss";

.movie {
  &-list {
    display: grid;
    gap: 4rem;
    text-align: center;
    &.gallery {
      grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    }
    &.card {
      grid-template-columns: repeat(auto-fill, minmax(55rem, 1fr));
    }
    &.list {
      grid-template-columns: repeat(auto-fill, minmax(55rem, 1fr));
    }
    &.fav {
      grid-template-columns: repeat(auto-fill, minmax(55rem, 1fr));
    }
    &__info {
      .card & {
        position: relative;
        &::after {
          @include position(a, left, 0, top, 0);
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba($black, 0.6);
          opacity: 0;
          transition: 0.5s;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
      .list & {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        text-align: left;
      }
      .fav & {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content 1fr;
        gap: 0 2rem;
        text-align: left;
      }
    }
    &__poster {
      margin: 0 0 3rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3/4;
      }
      .card & {
        margin: 0;
        img {
          aspect-ratio: 1/1;
        }
      }
      .list & {
        grid-row: span 2;
      }
      .fav & {
        grid-row: span 3;
      }
    }
    &__title {
      padding: 0 0 0.25rem;
      font-size: 2.2rem;
      color: $white;
      font-weight: 700;
      .card & {
        @include position(a, left, 5rem, top, 5rem, 10);
        opacity: 0;
        transition: 0.5s;
      }
      .card .movie-list__info:hover & {
        opacity: 1;
      }
      .list & {
        align-self: end;
      }
      .fav & {
        font-size: 4.5rem;
        font-weight: 800;
      }
    }
    &__year {
      font-size: 1.4rem;
      color: rgba($white, 0.6);
      .card & {
        @include position(a, right, 5rem, bottom, 5rem, 10);
        opacity: 0;
        transition: 0.5s;
      }
      .card .movie-list__info:hover & {
        opacity: 1;
      }
      .list & {
        align-self: start;
      }
    }
    &__genre {
      .fav & {
        opacity: 0.5;
        font-size: 2rem;
        font-weight: 300;
        color: $white;
      }
    }
    &__plot {
      .fav & {
        padding: 5rem 0 0;
        font-size: 1.8rem;
        line-height: 1.5;
        color: $white;
      }
    }
  }
}
