@import "../../scss/base.scss";

.gnb {
  display: flex;
  a {
    padding: 2.4rem 1.8rem;
    color: $white;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.5s;
    &.--active,
    &:hover {
      opacity: 0.4;
    }
  }
}
