@import "../../scss/base.scss";

.search {
  @include position(f, left, 0, top, 0, 1000);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  background-color: rgba($white, 0.9);
  backdrop-filter: blur(2px);
  overflow: hidden;
  transition: 0.4s;
  &.--active {
    height: 100vh;
  }
  > div {
    position: relative;
  }
  input {
    padding: 1.2rem 2.4rem;
    height: 15.3rem;
    width: calc(100vw - 36rem);
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba($black, 0.12);
    text-align: center;
    font-size: 5rem;
    font-family: $f-en;
    font-weight: 800;
    outline: none;
    &::placeholder {
      color: rgba($gray11, 0.4);
    }
  }
}
